
          <header>
            <div class="topNavMenu">
              <nav class="navbar navbar-expand-lg navbar overview-navbar">
                <a class="navbar-brand" href="https://therealdeal.com/"
                  ><img 
                  class="overview-nav-logo"
                  src="../images/smalllogo.png"
                    alt="back to search"
                    style="height:50px;"
                /></a>
         
                <div class="collapse navbar-collapse" id="navbarText">

                    <div class="nav-itemleft">
                        <a class="btn btn-danger" id ="scrape-new">Scrape New Articles</a>
                      </div>

                      <div class="nav-item">
                        <a class="btn btn-danger clear">Clear</a>
                      </div>
        
                    
                  
                  <div class="nav-itemright">
                        <a class="btn btn-warning" href="/saved">Saved Articles</a>
                      </div>

                      <div class="nav-item">
                      <a class="btn btn-warning" href="/">Current Articles</a>
                    </div>
      
                  
                </div>
              </nav>
            </div>
          </header>


<div class="row">
<div class="col-2"></div>
<br>

<div class="col-10">
<div class="container-fluid article-container">
  {{#each articles}}
  <div data-_id="{{this._id}}" class="card" >
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="{{this.url}}">{{this.headline}}</a>
      </h3>
      <h5>{{this.time}}</h5>
    </div>

    <div class="card-body">
    <img src="{{this.image}}" alt="{{this.headline}}" height="205px">
    <br><br>
      <div class = "summary">
      {{this.summary}}
      <br><br>
      </div>
    
    <a class="btn btn-danger save" style= "color:white">Save Article</a>
  </div>
  </div>

  {{/each}} 
  
  
  {{#unless articles.length}}
  <br><br>
  <div class="card-blank">
    <div class="card-header text-center">
      <h3>What Would You Like To Do?</h3>
    </div>
    <div class="card-body text-center">
      <h4>
        <a class="scrape-new">Scrape New Articles</a>
      </h4>
      <h4>
        <a href="/saved">Go to Saved Articles</a>
      </h4>
    </div>
  </div>
  {{/unless}}
</div>
</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>


<script>


$(document).ready(function() {

  var articleContainer = $(".article-container");
  $(document).on("click", ".save", handleArticleSave);
  $(document).on("click", "#scrape-new", handleArticleScrape);
  $(document).on("click", ".scrape-new", handleArticleScrape);
  $(".clear").on("click", handleArticleClear);

  function initPage() {
    $.get("/api/headlines?saved=false").then(function(data) {
      articleContainer.empty();
      if (data && data.length) {
        renderArticles(data);
      } else {
        renderEmpty();
      }
    });
  }

  function renderArticles(articles) {
    var articleCards = [];
    for (var i = 0; i < articles.length; i++) {
      articleCards.push(createCard(articles[i]));
    }
    articleContainer.append(articleCards);
  }

  function createCard(article) {
    var card = $("<div class='card'>");
    var cardHeader = $("<div class='card-header'>").append(
      $("<h3>").append(
        $("<a class='article-link' target='_blank' rel='noopener noreferrer'>")
          .attr("href", article.url)
          .text(article.headline)
      )
      );
     var timeStamp = $("<h5>").text(article.time);
      cardHeader.append(timeStamp);
    

    var image =  $("<img>")
    image.attr('height', 205);
    image.attr("src", article.image);
    image.append("<br><br>");

    var summary = $("<div class= 'summary'>").text(article.summary + "...");
    summary.append("<br><br>");
    summary.prepend("<br>");

    var cardBody = $("<div class='card-body'>")
    cardBody.append(image);
    cardBody.append(summary);

    var button = $("<a class='btn btn-danger' style='color:white' id='save'>Save Article</a>")
    cardBody.append(button);
    

    card.append(cardHeader, cardBody);
  
   
    card.data("_id", article._id);
    return card;
  }

  function renderEmpty() {
    var emptyAlert = $(
      [
        "<br><br>",
        "<div class='card-blank'>",
        "<div class='card-header text-center'>",
        "<h3>What Would You Like To Do?</h3>",
        "</div>",
        "<div class='card-body text-center'>",
        "<h4><a class='scrape-new'>Scrape New Articles</a></h4>",
        "<h4><a href='/saved'>Go to Saved Articles</a></h4>",
        "</div>"
        
      ].join("")
    );
    articleContainer.append(emptyAlert);
  }

  function handleArticleSave() {
    var articleToSave = $(this)
      .parents(".card")
      .data();


    $(this)
      .parents(".card")
      .remove();

    articleToSave.saved = true;
    // Using a patch method to be semantic since this is an update to an existing record in our collection
    $.ajax({
      method: "PUT",
      url: "/api/headlines/" + articleToSave._id,
      data: articleToSave
    }).then(function(data) {
      if (data.saved) {
        initPage();
      }
    });
  }

  function handleArticleScrape() {
    $.get("/api/fetch").then(function(data) {
      initPage();
    });
  }


  function handleArticleClear() {
    $.get("api/clear").then(function() {
      articleContainer.empty();
      initPage();
    });
  }
});

</script>


